@charset "UTF-8";

/* 
    Paleta de cores:
        Do Guanabara:
            Verde: #49a09d
            Lilás: #5f2c82
        Minha:
            Verde beem escuro: #0e1410
            Marrom: #c9792c
*/